aiohttp==3.5.4
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==18.2.0
cffi==1.14.2
chardet==3.0.4
cryptography==2.4.2
ecdsa==0.13
future==0.18.2
idna==2.10
multidict==4.7.6
pyasn1==0.4.8
pycparser==2.19
python-jose==3.0.1
rsa==4.6
six==1.15.0
yarl==1.5.1
